body{
color: rgb(131, 2, 131);
background: black;
margin-bottom: 100px;

}

header {
border-bottom: solid rgb(133, 0, 0);
padding: 20px;
color: rgb(235, 3, 3);
font-size: 40px;
font-family: "Lato", sans-serif;
}
.chamada{ display: flex;
padding-bottom: 20px;
padding-top: 20px;
font-family: "Lato", sans-serif;
}
p{ 
font-size: 20px;

}
.texto1 {
    justify-content: center;
}

.text2{
justify-content: center;
text-align: center;


}
iframe{ border: 5px solid purple
    ;
}
img{
height: 200px;


}
h1{
font-size: 40px;
}

p{
    font-size: 30px;
}
.text4{
display: flex;
overflow-x:auto ;
gap: 20px;

}
.categoria{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(0, 0, 0);
    color: purple;
    margin-top: 50px;
    border-top: solid rgb(133, 0, 0);
}
.text4 img{
opacity: 0.5 ;

}
.categoria img:hover{
    opacity: 1.0;
    border: 5px solid purple;
}